<div class="container p-1">
  <div class="header">
    <div><h1>Nuevo</h1></div>
    <div>
      <app-pwd></app-pwd>
    </div>
  </div>
  <hr style="color: mediumspringgreen; height: 4px; margin-top: 0">
  Nuevos ausentismos
  <hr>
  <div class="form-check form-switch mb-3">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
    <label class="form-check-label" for="flexSwitchCheckDefault">Activo</label>
  </div>
  <h1>Solicitud</h1>
  <hr>
  <form class="needs-validation" [formGroup]="ausentismos" (ngSubmit)="validate($event)" #localForm="ngForm">
    <form  formGroupName="solicitud">
      <div class="form-container">
        <div class="label">Numero:</div>
        <div class="input">
          <!--<input class="invalid" style="width: 150px" type="text" formControlName="numero" [class.invalid]="localForm.submitted && ausentismos.get('numero')?.invalid">-->
          <input class="form-control" style="width: 150px" type="text" formControlName="numero" required>
          <div style="margin-left: 10px" class="invalid-feedback">Debe ingresar un numero</div>
        </div>
        <div class="label">Fecha:</div>
        <div class="input"><input class="form-control" style="width: 130px" type="date" formControlName="fecha" required></div>
      </div>
      <div class="form-container">
        <div class="label">Empleado</div>
        <div class="input"><input class="form-control" style="width: 450px" type="text" formControlName="empleado" required></div>
        <div class="label">Vinculacion</div>
        <div class="input"><input class="form-control" style="width: 300px" type="text" formControlName="vinculacion" required></div>
      </div>
      <div class="form-container">
        <div style="width: 160px">Descripcion</div>
        <div class="label"><textarea style="width: 910px" class="form-control" name="descripcion" id="descripcion" formControlName="descripcion" required>
          </textarea></div>
      </div>
    </form>
    <hr>
    <h1 style="margin-top: 10px; margin-bottom: 10px;">Autorización</h1>
    <hr>
    <form formGroupName="autorizacion">
      <div class="form-container">
        <div class="label">Fecha</div>
        <div class="input"><input class="form-control" style="width: 130px" type="date" formControlName="fecha" required></div>
        <div class="label">Funcionario</div>
        <div class="input"><input class="form-control" style="width: 600px" type="text" formControlName="funcionario" required></div>
      </div>
      <hr>
      <div class="form-container">
        <div style="width: 160px">Motivo</div>
        <div class="input">
          <select class="form-control" style="width: 900px" name="motivo" formControlName="motivo" required>
            <option value="Incapacidad por enfermedad profesional">Incapacidad por enfermedad profesional</option>
            <option value="Incapacidad por accidente de trabajo">Incapacidad por accidente de trabajo</option>
            <option value="Prórroga incapacidad por enfermedad">Prórroga incapacidad por enfermedad</option>
          </select>
        </div>
        <input class="form-check-input" type="checkbox" checked formControlName="remunerado" required>
        <label class="form-check-label">Remunerado</label>
      </div>
      <div class="form-container">
        <div class="label">Diagnostico</div>
        <div class="input"><input class="form-control" style="width: 1000px" type="text" formControlName="diagnostico" required></div>
      </div>
      <div class="form-container">
        <div class="label">Concepto</div>
        <div class="input"><input class="form-control" style="width: 1000px" type="text" formControlName="concepto" required></div>
      </div>
    </form>
    <hr>
    <h1>Rango de fechas</h1>
    <hr>
    <form formGroupName="rangoFechas">
      <div class="form-container">
        <div class="label">Inicial</div>
        <div class="input"><input class="form-control" style="width: 130px" type="date" formControlName="inicial" required></div>
        <div class="label">Hora Inicial/24H:</div>
        <div class="input"><input class="form-control" style="width: 55px" type="text" placeholder="HH" formControlName="horaInicialHH" required>
        </div>
        :
        <div class="input"><input class="form-control" style="width: 55px" type="text" placeholder="MM" formControlName="horaInicialMM" required>
        </div>
        <div class="label">Final:</div>
        <div class="input"><input class="form-control" style="width: 130px" type="date" formControlName="final" required></div>
        <div class="label">Hora Final/24H:</div>
        <div class="input"><input class="form-control" style="width: 55px" type="text" placeholder="HH" formControlName="horaFinalHH" required></div>
        :
        <div class="input"><input class="form-control" style="width: 55px" type="text" placeholder="MM" formControlName="horaFinalMM" required></div>
      </div>
      <div class="form-container">
        <div class="label">Dias</div>
        <div class="input"><input class="form-control" style="width: 130px" type="date" formControlName="dias" required></div>
        <div class="label">Horas/24H:</div>
        <div class="input"><input class="form-control" style="width: 55px" type="text" placeholder="HH" formControlName="horasHH" required></div>
        :
        <div class="input"><input class="form-control" style="width: 55px" type="text" placeholder="MM" formControlName="horasMM" required></div>
        <div class="label">Dias reales:</div>
        <div class="input"><input class="form-control" style="width: 130px" type="date" formControlName="diasReales" required></div>
        <div class="label">Horas reales/24H:</div>
        <div class="input"><input class="form-control" style="width: 55px" type="text" placeholder="HH" formControlName="horasRealHH" required></div>
        :
        <div class="input"><input class="form-control" style="width: 55px" type="text" placeholder="MM" formControlName="horasRealMM" required></div>
      </div>
    </form>
    <hr>
    <h1>Afectacion</h1>
    <hr>
    <form formGroupName="afectacion">
      <div class="form-container">
        <div class="label">Sustitucion Patronal</div>
        <div style="width: 120px"><input class="form-check-input" type="checkbox" checked formControlName="sustitucionPatronal" required></div>
        <div class="label">Aplicacion</div>
        <div class="input"><input class="form-control" style="width: 130px" type="date" formControlName="aplicacion" required></div>
      </div>
      <div class="form-container">
        <div class="label">Documento Externo</div>
        <div class="input">
          <select class="form-control" style="width: 100px" name="docExterno1" formControlName="docExterno1" required>
            <option value="FP">FP</option>
            <option value="PP">PP</option>
            <option value="JP">JP</option>
          </select>
        </div>
        <input class="form-control" type="text" style="width: 150px" formControlName="docExterno2" required>
        <input class="form-control" style="width: 130px; margin-right: 10px" type="date" formControlName="docExternoFecha" required>
        <div class="label">Documento Administrativo</div>
        <div class="input">
          <select class="form-control" style="width: 100px" name="docAdmin1" formControlName="docAdmin1" required>
            <option value="FP">FP</option>
            <option value="PP">PP</option>
            <option value="JP">JP</option>
          </select>
        </div>
        <input class="form-control" type="text" style="width: 150px" formControlName="docAdmin2" required>
        <input class="form-control" style="width: 130px" type="date" formControlName="docAdminFecha" required>
      </div>
    </form>
    <hr>
    <div class="buttons">
      <button class="btn btn-danger m-1">Regresar</button>
      <!--<button class="btn btn-success m-1" type="submit" [disabled]="!ausentismos.valid">Guardar</button>-->
      <button class="btn btn-success m-1" type="submit">Guardar</button>
    </div>
  </form>
  <div style="display: flex; flex-direction: column">
    <h1>Data JSON:</h1>
    <p>{{ausentismos.value | json}}</p>
    <h1>Form Status</h1>
    <p>{{ausentismos.status}}</p>
    <h1>Submitted: {{localForm.submitted}}</h1>
  </div>

</div>
